<div id="snippetContainer">
  <div id="snippetFormWrapper">
    <%# do we add a logo here? %>
    <div id="upper">
    <%= form_for @snippet do |f| %>

      <!-- Handles the Title text field -->
      <%= f.text_field :title, placeholder: 'Add your title here', class:'snippetInput', id:'snippetTitle' %>
      <div id="wpContainer">
        <!-- do we make these divs with an anchor? or keep them as buttons? -->
        <!-- will be triggered to toggle the write/preview -->        
        <!-- Shows Write Page -->
        <div class="wpBtn">Write</div> <%# If the user clicks this button then display the code area ..::PERSIST  %>

        <!-- Shows Rogue Markdown -->
        <div class="wpBtn">Preview</div> <%# If the user clicks this button then display the preview area ..::PERSIST  %>
      </div>
    </div> 
    
      <div id="lower">
        <!-- Handles Code Text -->
        <%= f.text_area :code, placeholder: 'Add your notes here', class:'snippetInput', id:'snippetTextArea' %>

        <!-- Handles the Set to private functionality -->
        <div id="private_Radio_Label"> <%= f.label "Is This Private?" %><br> 
          <div id="private_Radio_Form">
            <div id="left_button"> 
              <%= f.label :is_private, "Yes", :value => "true"  %>
              <%= f.radio_button :is_private, true %>
            </div>
            <div id="right_button"> 
              <%= f.label :is_private, "No", :value => "false" %>
              <%= f.radio_button :is_private, false, :checked => true %>
            </div>
          </div><br><br>
        </div>
        <%= f.submit 'Submit', id:'snippetSubmitBtn' %>
      </div>
    <% end %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p style ="color: red"><%= error %></p>
      <% end %>
    <% end %>
  </div>
</div>
