<div class="snippetContainer">
  <div class="snippetFormWrapper">
    <%# do we add a logo here? %>
    <div class="upper">
    <%= form_for @snippet do |f| %>

      <!-- Handles the Title text field -->
      <%= f.text_field :title, placeholder: 'Title', class:'snippetInput snippetTitle' %>
      <div class="wpContainer">
        <!-- do we make these divs with an anchor? or keep them as buttons? -->
        <!-- will be triggered to toggle the write/preview -->
        <!-- Shows Write Page -->
        <div id="snippet_Category_Select">
          <%# Select a Category %>
          <%= f.collection_select :category_ids, Category.all, :id, :name, :prompt => 'Select a Category' %>
          
        </div> <%# If the user clicks this button then display the code area ..::PERSIST  %>

      </div>
    </div>

      <div class="lower">
        <!-- Handles Code Text -->
        <%= f.text_area :code, placeholder: 'Add your notes here', class:'snippetInput snippetTextArea' %>

        <!-- Handles the Set to private functionality -->
        <div class="private_Radio_Label">
          <div class="private_Radio_Form">
              <%= f.radio_button :is_private, true %>
              <%= f.label :is_private, "Private", :value => "true", class:"private_radio_button" %>
              <%= f.radio_button :is_private, false, :checked => true %>
              <%= f.label :is_private, "Public", :value => "false", class:"private_radio_button" %>
          </div>
        </div>
        <div class="user_Submittals">
          <%= f.submit 'Submit', class:'snippetSubmitBtn' %>
    <% end %>
    <br>

    </div>
  </div>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p style ="color: red"><%= error %></p>
      <% end %>
    <% end %>
  </div>
</div>
