<div class="userDashboard">
  <nav>
    <div id="navLogo"></div>
    <div class="navLink userLink"><%= @user.name %></div>
    <% if logged_in? %>
        <%= link_to new_snippet_path do %>
          <div class="navLink userSnippets">Create a Snippet</div>
        <% end %>
    <% end %>
    <% if logged_in? && logged_in_user.id == @user.id %>
        <%= link_to edit_user_path(@user), method: :get do %>
          <div class="navLink userLink">Account Settings</div>
        <% end %>
    <% end %>

      <!-- If user is not logged in forces login else displays Logout button -->
      <% if logged_in? %>
          <%= link_to user_logout_path do %>
            <div class="navLink userLogin">Logout</div>
          <% end %>
      <% else %>
          <%= link_to "Log In", user_login_path, class:'btn' %>
      <% end %>
  </nav>
  <div class="dashContainer">
    <div class="headerContainer">
      <h1 class="snippetHeader">Categories</h1>
    </div>
    <section class="dashContent" id="showCategory">
      <div class="categoryGrid">
        <% if logged_in? && logged_in_user.id == @user.id %>                   <!-- Checks if the Current user is equal to the User page id -->
            <% if !Category.all.map(&:user_id).include?(logged_in_user.id) %>  <!-- Checks if the Category.all includes the current logged_in_user.id-->
                <p><%= "This User does not have any Categories" %></p>
            <% else %>
                <% Category.all.each do |c| %>                                     <!-- Displays Snippets from Current User Page -->
                    <% if c.user_id == @user.id %>
                        <%= c.name %>        <br>
                        <%= c.language %>    <br>
                        <%= c.description %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </section>

    <!-- Handle Current User Snippet Display -->
    <div class="headerContainer">
      <h1 class="snippetHeader">Snippets</h1>
    </div>
    <section class="dashContent" id="showSnippet">
      <div class="snippetGridContainer">
        <div class="snippetGridScroll">
          <%# IF THE USER IS NOT THE LOGGED IN USER CHECK FOR IF IS_PRIVATE %>
          <% if logged_in_user.id != @user.id %>
              <%if !Snippet.all.map(&:user_id).include?(@user.id)%>  <!-- Checks if the Snippet.all includes the current logged_in_user.id-->
                  <%= "This user doesn't have any snippets" %>
              <% else %>
                  <% Snippet.all.each do |s| %>                               <!-- Displays Snippets from Current User -->
                      <% if s.user_id == @user.id && s.is_private == false%>
                          <%= link_to snippet_path(s.id) do %>
                            <div class='snippetLink'><%= "#{s.title}" %></div>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
          <% elsif logged_in? && logged_in_user.id == @user.id %>                <!-- Checks if the Current user is equal to the User page id -->
              <%if !Snippet.all.map(&:user_id).include?(logged_in_user.id)%>  <!-- Checks if the Snippet.all includes the current logged_in_user.id-->
                  <%= "This user doesn't have any snippets" %>
              <% else %>
                  <% Snippet.all.each do |s| %>                               <!-- Displays Snippets from Current User -->
                      <% if s.user_id == @user.id %>
                          <%= link_to snippet_path(s.id) do %>
                            <div class='snippetLink'><%= "#{s.title}" %></div>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
